<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Amazing_Job_Finder</title>
</head>

<body>
    <header>
        <nav>
            <!-- Εδω θελει αλλαγμα? -->
            <a href="./login.html">
                <span class="login">
                    Log in
                </span>
            </a>
            <div class="whitetext">
                <span class="signupbox">
                    Sign up
                </span>    
            </div>
            <span class="logout">
                Log out
            </span>
        </nav>

        <h1>If you can dream it, you can do it.</h1>

        <div class="headerwrapper">
            <div class="headerbox">
                <div class="searchjobs">    
                    <div class="tagswrapper">
                        <div class="tags">
                            <div class="active" id="search">
                                <a href="">Search</a> 
                            </div>
                            <div class="inactive" id="post">
                                <a href="">Post</a> 
                            </div>
                        </div>
                    </div>

                    <div class="highlighted_area">
                        
                        <div class="inputwrapper">
                            <div class="inputform">
                                <form action="/searchjobs" , method="get">
                                    <input type="text" id="searchbox" name="searchbox" size="20" maxlength="20"
                                        placeholder="Enter job title" />
                                    <input type="text" id="zips" name="zips" size="5" maxlength="10" placeholder="City/Zip Code" />
                                    <input type="submit" id="submit" value="Search Jobs" />
                                </form>
                            </div>            
                        </div>                

                        <div class="queryboxeswrapper">
                            <div class="queryboxes">
                                <button class="querybox" , onclick="">Latest</button>
                                <button class="querybox" , onclick="">
                                    Most Popular
                                </button>
                                <button class="querybox" , onclick="">For You</button>
                            </div>    
                        </div>

                    </div>    
                </div>
        </div>


            <div class="postjobs">
                <div class="highlighted_area">
                    <div class="tag">
                        <span id="search">
                            <p>Search</p>
                        </span>
                        <span id="post">
                            <p>Post</p>
                        </span>
                    </div>

                    <form action="/postpopup" method="post">
                        <input type="text" name="title" size="20" maxlength="20" placeholder="Listing title" />
                        <input type="submit" value="Post job" />
                        <br />
                        <select name="category" id="category">
                            <option value="webdev" selected>
                                Web developer
                            </option>
                            <option value="softwereng">
                                Software engineer
                            </option>
                            <option value="devops">DevOps engineer</option>
                            <option value="secops">
                                Cybersecurity engineer
                            </option>
                            <option value="sysadmin">
                                System Administrator
                            </option>
                        </select>
                        <select name="flexible" id="flexible">
                            <option value="onsite" selected>On-site</option>
                            <option value="hybrid">Hybrid</option>
                            <option value="remote">Remote</option>
                        </select>
                        <select name="hours" id="hours">
                            <option value="fulltime" selected>
                                Full time
                            </option>
                            <option value="parttime">Part time</option>
                            <option value="flexible">Flexible</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
        
    </header>

    <br />

    <main>
        <div class="mainwrapper">
            <div class="dummy"></div>
            <div class="recents"><p>Recents</p></div>
            <div class="dummy_two"></div>
            <!-- Either a popup menu or a dropdown checkbox list with filters list -->
            <div class="filters"><button class="whitetext" type="button" onclick="">filters</button></div>
            <div class="dummy_three"></div>

        </div>

        <article>
            <div class="articles">
                {{#each data }}
                <div class="listing">
                    <div class="wrapper">
                        <div class="info">
                            <h3 class="title">{{this.title}}</h3>
                            <h5 class="workhours">{{this.workhours}}</h5>
                        </div>
                        <div class="totheleft">
                            <div class="logo"></div>
                            <div class="companyname"><p>{{this.company}}</p></div>
                            <div class="location"><p >{{this.location}}</p></div>
                        </div>
                        <p class="content">
                            {{this.description}}
                        </p>
                        <p class="postedat">{{this.postdate}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </article>

        <!-- https://stackoverflow.com/questions/27313480/scroll-div-content-horizontally-using-left-and-right-arrow-in-jquery -->
        <div class="companieslider">
            <div id="rightArrow">
                <a href="#"><img src="../images/right.png" width="30" /></a>
            </div>
            <div id="viewContainer">
                <div id="tslshow">
                    <div class="bktibx">Stack overflow</div>
                    <div class="bktibx">Cosmote</div>
                    <div class="bktibx">Vodafone</div>
                    <div class="bktibx">Wind-Hellas</div>
                    <div class="bktibx">Pizza Hut</div>
                    <div class="bktibx">Samsung</div>
                    <div class="bktibx">Univ. of Patras</div>
                    <div class="bktibx">Discord</div>
                    <div class="bktibx">Google</div>
                    <div class="bktibx">Platinum Records</div>
                </div>
            </div>
            <div id="leftArrow">
                <a href="#"><img src="../images/left.png" width="30" /></a>
            </div>
        </div>
    </main>

    <br />

    <footer>
        <div class="mainarea">
            <div class="firstcol">
                <ul>
                    <li><a class="whitetext" href="">About</a></li>
                    <li><a class="whitetext" href="">Help Center</a></li>
                    <li><a class="whitetext" href="">Support</a></li>
                    <li><a class="whitetext" href="">Contact</a></li>
                </ul>
            </div>
            <div class="secondcol">
                <ul>
                    <li><a class="whitetext" href="">We 're hiring!</a></li>
                    <li><a class="whitetext" href="">Blog</a></li>
                </ul>                
            </div>
            <div class="thirdcol">

            </div>
            <!-- Add social media images w/ links to some profiles -->
            <div class="socials">
                <span class="whitetext">Find us on social media!</span>
                <ul>
                    <li><a href="">
                        <img alt="Qries" src="https://www.qries.com/images/banner_logo.png" width="30" height="30" />
                    </a>
                    </li>
                    <li>
                        <a href="">
                            <img alt="Qries" src="https://www.qries.com/images/banner_logo.png" width="30" height="30" />
                        </a>
        
                    </li>
                    <li><a href="">
                        <img alt="Qries" src="https://www.qries.com/images/banner_logo.png" width="30" height="30" />
                    </a>
                    </li>
                    <li><a href="">
                        <img alt="Qries" src="https://www.qries.com/images/banner_logo.png" width="30" height="30" />
                    </a>
                    </li>
                </ul>
                
            </div>
        </div>

        <div class="legalstuff">
            <ul>
                <li><a href="">Cookies</a></li>
                <li><a href="">Terms and conditions</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><p>All rights reserved ©2022</p></li>
            </ul>
        </div>
    </footer>
</body>

</html>