<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Amazing_Job_Finder</title>
</head>

<body>
    <main>
        <div class="mainwrapper">
            <div class="dummy"></div>
            <div class="recents">
            </div>
            <div class="dummy_two"></div>
            <!-- Either a popup menu or a dropdown checkbox list with filters list -->
            <div class="filters"><button class="whitetext" onclick="">filters</button></div>
            <div class="dummy_three"></div>
        </div>
        <br>
        <article>
            <div class="articles">
                {{#each batches.listings}}
                <div class="listing">
                    <div class="wrapper">
                        <div class="info">
                            <h3 class="title" id="mainlistingtitle{{this.id}}">{{this.title}}</h3>
                            <h5 class="workhours" id="mainlistinghours{{this.id}}">{{this.hours}} - {{this.onsite}}</h5>
                        </div>
                        <div class="totheleft">
                            <div class="logo"></div>
                            <div class="companyname">
                                <p id="mainlistingcompname{{this.id}}">{{this.company}}</p>
                            </div>
                            <div class="location">
                                <p id="mainlistinglocation{{this.id}}">{{this.location}}</p>
                            </div>
                        </div>
                        <p class="content" id="mainlistingdescription{{this.id}}">
                            {{this.description}}
                        </p>
                        <div class="hidden" style="display: none;">
                            <p id="mainlistingbigdescription{{this.id}}">{{this.bigdescription}}</p>
                            <p id="mainlistingcategory{{this.id}}">{{this.category}}</p>
                            <p id="mainlistingonsite{{this.id}}">{{this.onsite}}</p>
                            <p id="mainlistingsalary{{this.id}}">{{this.salary}}</p>
                        </div>
                        <p class="postedat" id="mainlistingpostdate{{this.id}}">{{this.postdate}}</p>
                        <input type="button" id="{{this.id}}" value="Test" class="btn btn-primary"
                            data-bs-toggle="modal" data-bs-target="#searchModal" style="display: none;">
                    </div>
                </div>
                {{/each}}
            </div>
        </article>

        <footer>
            <div class="mainarea">
                <div class="firstcol">
                    <ul>
                        <li><a class="whitetext" href="">About</a></li>
                        <li><a class="whitetext" href="">Help Center</a></li>
                        <li><a class="whitetext" href="">Support</a></li>
                        <li><a class="whitetext" href="">Contact</a></li>
                    </ul>
                </div>
                <div class="secondcol">
                    <ul>
                        <li><a class="whitetext" href="">We 're hiring!</a></li>
                        <li><a class="whitetext" href="">Blog</a></li>
                    </ul>
                </div>
                <div class="thirdcol">

                </div>
                <div class="socials">
                    <span class="whitetext">Find us on social media!</span>
                    <ul>
                        <li><a href="">
                                <img alt="Qries" src="./images/facebook" width="40" height="40" />
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img alt="Qries" src="./images/instagram" width="40" height="40" />
                            </a>

                        </li>
                        <li><a href="">
                                <img alt="Qries" src="./images/twitter" width="40" height="40" />
                            </a>
                        </li>
                        <li><a href="">
                                <img alt="Qries" src="./images/linkedin" width="40" height="40" />
                            </a>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="legalstuff">
                <ul>
                    <li><a href="">Cookies</a></li>
                    <li><a href="">Terms and conditions</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li>
                        <p>All rights reserved ©2022</p>
                    </li>
                </ul>
            </div>
        </footer>
</body>

</html>